<launch>

  <include file="$(find sensor_imu_mti_xsens)/launch/xsens_mti.launch"> </include>
  <include file="$(find sensor_imu_mti_xsens)/launch/xsens_display.launch"> </include>
  
  <node pkg="imu_visualization" type="imu_sensor_calibration.py" name="imu_sensor_calibration" output="screen">
	<param name="imu_data_topic_name" value="/sensor/imu/xsens_mti/data" />
	<param name="mag_data_topic_name" value="/sensor/imu/xsens_mti/mag_calib" />
    <param name="imu_name" value="Xsens_imu" />
    <param name="package_path" value="$(find imu_visualization)/configs/" /> -->
	<!-- <param name="mag_data_vector_topic_name" value="/sensor/imu/xsens_mti/mag_calib" /> -->
  </node>


</launch>
